// Variables
$border-color:blue;
$padding-value:1%;
$corner-color:#8afa86;
$text-color:rgb(240, 240, 240);
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    display: flex;
    flex-direction: column;
    .container{
        display: flex;
        flex-direction: column;
        background-color: rgb(5%,5%,5%);
        height: 100vh;
        main{
            margin: 0% 0%;
            padding: 150px 0%;
            padding-bottom: 90px;
            background-color: rgb(5%,5%,5%);
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            .main-wrapper{
                margin-bottom: 50px;
                display:flex;
                width:70%;
                align-items: flex-end;
                #card-v1-tracker{
                    display:flex;
                    flex: 1;
                    min-height: 400px;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    margin: 1%;
                    ul{
                        // background-color: red;
                        li{
                            cursor: pointer;
                            // background-color: lightgreen;
                        }
                        .active-list{
                            color: $corner-color;
                        }
                    }
                    .new-task-creator{
                        margin-top:auto;
                        width: 100%;
                    }
                    form{
                        margin-top: auto;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        input{
                            flex: 10;
                        }
                        button{
                            padding: 1%;
                            flex: 1;
                            font-size: 1rem;

                        }
                    }
                   
                    background-color:#202020;
                    padding: 2%;
                 
                    // border-radius: 5px;
                    color: #b7b2ad;
                    a{
                        color: #b7b2ad;
                        text-decoration: none;
                    }
                }
            }
            .sub-wrapper{
                width: 70%;
                display:flex;
                justify-content:center;
                #card-v1-tracker{
                    background-color:#202020;
                    padding: 2%;
                    width: 100%;
                    margin: 1%;
                    display: flex;
                    justify-content: center;
                    .delete-stuff{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        button{
                            flex: 1;
                            padding: 2%;
                        }
                    }
                    ul{
                        // background-color: red;
                        li{
                            cursor: pointer;
                            // background-color: lightgreen;
                        }
                        .active-list{
                            color: $corner-color;
                        }
                    }
                }
            }


     
        }
    }
}